html, body {
  background: #ececec;
  text-align: center;
}

.split {
  width: 500px;
  height: 500px;
}

.box-div {
  border: 3px solid white;
  width: 503px;
  height: 503px;
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  position: absolute;
  left: 32%;
}

.div {
  width: 100%;
  text-align: center;
}

.translate {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
